name: build-test

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [windows-latest,ubuntu-latest,macos-latest]
        lazarus-versions: [stable] #[dist, stable, 2.0.12, 2.0.10, 2.0.8, 2.0.6]

    steps:
    - uses: actions/checkout@v5

    - name: Install Lazarus
      uses: gcarreno/setup-lazarus@v3.2
      with:
        lazarus-version: ${{ matrix.lazarus-versions }}
        with-cache: true

    - name: Build the application
      if: ${{ matrix.operating-system != 'macos-latest' }}
      run: |
        lazbuild -B "pg_timetable_gui.lpi"
        ls

    - name: Build the application (macOS)
      if: ${{ matrix.operating-system == 'macos-latest' }}
      run: lazbuild -B --ws=cocoa "pg_timetable_gui.lpi"

    - name: Upload build artifacts
      uses: actions/upload-artifact@v5
      with:
        name: pg_timetable_gui for ${{ matrix.operating-system }}
        retention-days: 3
        path: |
          pg_timetable_gui.exe 
          pg_timetable_gui