name: daily-build

on:
  workflow_dispatch:
  push:
    branches:
      - 'main' 
    paths:
      - '**.pas'
      - '**.lfm'

jobs:
  daily_build:
    if: true # set to false to disable
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [windows-latest,ubuntu-latest,macos-latest]
        lazarus-versions: [stable] #[dist, stable, 2.0.12, 2.0.10, 2.0.8, 2.0.6]

    steps:
    
    - name: Check out the latest version
      uses: actions/checkout@v6

    - name: Install Lazarus
      uses: gcarreno/setup-lazarus@v3.2
      with:
        lazarus-version: ${{ matrix.lazarus-versions }}
        with-cache: true

    - name: Build the application
      if: ${{ matrix.operating-system != 'macos-latest' }}
      run: |
        lazbuild -B "pg_timetable_gui.lpi"
        ls

    - name: Build the application (macOS)
      if: ${{ matrix.operating-system == 'macos-latest' }}
      run: lazbuild -B --ws=cocoa "pg_timetable_gui.lpi"

    - name: Pack
      shell: bash
      run: |
          release_name="pg_timetable_gui-${{ matrix.operating-system }}"
          ls -a
          if [ "${{ matrix.operating-system }}" == "windows-latest" ]; then
            # Pack to zip for Windows
            7z a -tzip "${release_name}.zip" "pg_timetable_gui.exe"
          else
            tar czvf "${release_name}.tar.gz" "pg_timetable_gui"
          fi
    
    - name: Publish the daily build
      uses: softprops/action-gh-release@v2
      with:
          tag_name: daily_builds
          files: |
            *.zip
            *.tar.gz
          prerelease: true